{% extends "layouts/main.html" %}

{% block content_page %}
<div class="landing-unit">
  <h1 class="landing-unit-title">Notifico</h1>
  <p class="lead">
    Notifico is an <a href="https://github.com/TkTech/notifico">open-source</a> replacement
    for the now-defunct <a href="http://cia.vc">cia.vc</a> service. Notifico receives 
    messages from services and scripts and delivers them to IRC channels.
  </p>
  {% if current_user.is_anonymous() %}
  <p>
    <a class="btn btn-success btn-large" href="{{ url_for('account.register') }}">
      <i class="icon-plus"></i> Sign Up
    </a>
  </p>
  <p>
    <small class="muted">
      Already have an account? <a href="{{ url_for('account.login_view') }}">Login</a> instead.
    </small>
  </p>
  {% endif %}
</div>
{% endblock %}
